build/*
storage/*
!*.keep

# Secrets
.env
.env.*
*certs*
*secrets*
!*secrets/README.md
!*secrets/server-cert.pem
!.env.example
!*certs/ca-cert.pem



# Potential test folder
coverage/

# Build artifacts/logs
*.o
*.out
*.a
*.so
*.log

# IDE artifacts
config.json
package-lock.json
.DS_Store
.vscode*
.vscode/*
