build/*
storage/*
!*.keep

# Secrets
.env
.env.*
!.env.example

# Certificates
**/certs/*
!**/certs/ca-cert.pem

# Secrets directories
**/secrets/*
!**/secrets/README.md
!**/secrets/server-cert.pem

# Potential test folder
coverage/

# Build artifacts/logs
*.o
*.out
*.a
*.so
*.log

# IDE artifacts
config.json
package-lock.json
.DS_Store
.vscode*
.vscode/*
